{% extends 'base.html' %}

{% block content %}
    <div class="row">

      <div class="col-xs-6 col-xs-offset-3">

        <div class="page-header"> <h1>{{ book.name}} <small>{{ book.author }}, ${{ book.price }}</small></h1> </div>

        <ul>
          <li> 分類 {{ book.category}}
          <li> 原價 {{ book.original_price }}
          <li> 狀態 {{ book.get_status_display}}
          <li> 出版社 {{ book.publisher }}
        </ul>

        <div class="panel panel-primary">
          <div class="panel-body"> {{ book.description }} </div>
        </div>

      </div><!-- end of offset 3-->

    </div><!-- end of row-->
{% endblock content %}